<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewsAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NewsAPI.Properties.Settings>
            <setting name="NewsAPI" serializeAs="String">
                <value>https://newsapi.org/v2/everything?sources=ign&amp;language=en&amp;apiKey=d77844f5df514820b2454ab713b2dd69&amp;sortBy=publishedAt</value>
            </setting>
            <setting name="SlackWebhookURL" serializeAs="String">
                <value>https://hooks.slack.com/services/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</value>
            </setting>
        </NewsAPI.Properties.Settings>
    </userSettings>
</configuration>